<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.mybatis.mapper.OrderMapper" >
 <!-- <resultMap id="BaseResultMap" type="com.zxh.mybatis.entity.Orders" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
  </resultMap>-->

  <select id="selectById" parameterType="java.lang.String" resultType="com.zxh.mybatis.entity.Orders">
      select id,order_num from orders where id = #{id}

  </select>
  
  	<update id="update" parameterType="com.zxh.mybatis.entity.Orders" >
		update orders set order_num=#{orderNum} where id=#{id}
	</update>

    <insert id="insert" parameterType="com.zxh.mybatis.entity.Orders">
        insert  into orders(id,order_num) values(#{id},#{orderNum})
    </insert>
</mapper>